body{
    background-color: rgb(192, 191, 191);
}
.container{
    width: 90%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    border: 1px solid rgb(227, 225, 225);
    margin: 5px;
    gap: 5px;
    background-color: white;
    border-radius: 7px;
}
.spans{
    display: flex;
    gap: 10px;
}
.price{
    font-weight: bold;
    font-size: larger;
}

.rooms{
    font-size: 20px;
}